.container-second-create {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(32 75 146 / 10%);
  height: 310px;
  max-width: 350px;
  min-width: 350px;
  margin: 5px;
}

.secondary-text {
  text-align: center;
  color: #afb7bf;
}

.input-group {
  text-align: left;
}

.input {
  width: 200px;
}
