<div class="toolbar">
  <mat-toolbar color="primary">
    <p>Dashboard</p>
  </mat-toolbar>
  <div fxLayout fxFill>
    <div class="container-first" fxFlex="30" fxLayoutAlign="space-evenly center">
      <app-zoom></app-zoom>
    </div>
    <div class="container-second" fxFlex="70">
      <div fxLayout fxFill>
        <div fxFlex="60">
          <div fxLayout="column" fxLayoutAlign="start center">
            <app-account-create (addAccount)="addAccount($event)"></app-account-create>
          </div>
        </div>
        <div class="card-wrapper" fxFlex="40">
          <app-account [account]="item"
                       (deletedAccount)="deleteAccount($event)"
                       *ngFor="let item of accounts"></app-account>
        </div>
      </div>
    </div>
  </div>
</div>
