.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-first {
}

.container-second {
  border-left: 2px solid #3f51b5;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 40px 100px 40px 0;
}

.zoom {
  position: fixed;
  left: 550px;
  width: 300px;
  height: 300px;
  border: 1px solid #3f51b5;
}

.card-wrapper {
}
