<div class="container-fluid not-login">
  <div class="not-login-popup">
    <div class="not-login-header_cloud1" style="background-image: url('assets/pictures/cloud.png')"></div>
    <div class="not-login-header_cloud2" style="background-image: url('assets/pictures/cloud.png')"></div>
    <div class="not-login-header_cloud3" style="background-image: url('assets/pictures/cloud.png')"></div>
    <div class="not-login-popup_wrapper">
      <div class="not-login-header">
        <img src="assets/pictures/forest.png">
        <p class="not-login-header_name">Admin Dashboard</p>
      </div>
      <div class="not-login-body">
        <div class="not-login-body_head">
          <h3>Welcome!</h3>
          <h3>Just one simple step to left</h3>
        </div>
        <div class="not-login-body_body">
          <p>Please sign in with Google</p>
          <p>account to access the system</p>
        </div>
      </div>
      <div class="not-login-footer">
        <button mat-button class="btn btn-primary blue-button" (click)="googleSignIn()">
          <img src="assets/pictures/google-icon.svg" class="not-login-footer_google">
          <div class="not-login-footer_googleText">
            Sign in with Google
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
